@import '../../mixins.scss';

.PhotoContent article {
    h1 {
        letter-spacing: 6px;
        color: #202020;
        font-weight: 400;
        font-family: "Open Sans";
        margin-bottom: 30px;
        margin-top: 44px;
    }

    p {
        letter-spacing: 1px;
        color: #202020;
        font-weight: 300;
        font-family: "Open Sans";
        margin-top: 26px;
    }

    h4 {
        color: #202020;
        font-weight: 400;
        font-family: "Open Sans";
    }
    
}

@media screen and (min-device-width: 960px) {
    .PhotoContent {
        display: flex;
        flex-direction: row;
        @include margin-left(163, 1920);
        @include margin-right(260, 1920);
        margin-top: 75px;
        
        img {
            @include width(771, 1920);
        }

        article {
            @include margin-left(51, 1920);

            h1 {
                @include font-size(60, 1920);
                @include line-height(120, 1920);
            }

            p {
                @include font-size(24, 1920);
                @include line-height(50, 1920);
            }

            h4 {
                @include font-size(40, 1920);
                @include line-height(50, 1920);
            }
        }
    }
}

@media screen and (min-device-width: 720px) and (max-device-width: 959px) {
    .PhotoContent {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
    
        img {
            width: 100%;
        }

        article {
            @include margin-left(57, 768);
            @include margin-right(36, 768);

            h1 {
                @include font-size(60, 768);
                @include line-height(120, 768);
                margin-bottom: 40px;
                margin-top: 44px;
            }

            p {
                @include font-size(26, 768);
                @include line-height(50, 768);
                margin-bottom: 38px;
            }

            h4 {
                @include font-size(40, 768);
                @include line-height(50, 768);
                margin-bottom: 44px;
            }
        }
    }
}

@media screen and (max-device-width: 719px) {
    .PhotoContent {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 0;
    
        img {
            @include height(700, 320);
            object-fit: cover;
            -o-object-fit: cover;
            object-position: 55%;
            -o-object-position: 55%;
        }

        article {
            @include margin-left(35, 320);
            @include margin-right(24, 320);

            p:nth-child(3) {
                display: none;
            }

            h1 {
                @include font-size(32, 320);
                @include line-height(120, 320);
                letter-spacing: 3px;
                margin: 0;
            }

            p {
                @include font-size(20, 320);
                @include line-height(50, 320);
                letter-spacing: 0px;
                margin: 0;
                @include margin-top(-30, 320);
            }

            h4 {
                @include font-size(20, 320);
                @include line-height(50, 320);
            }
        }
    }
}